#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - BED_OUT
##  Thermistor - TB
heater_pin: PA1
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
## sensor_type: NTC 100K beta 3950
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#[thermistor chamber_temp]
#temperature1: 25
#resistance1: 10000
#beta: 3950


#[temperature_sensor enclosure_temp]
#sensor_type: chamber_temp
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100
#gcode_id: C
[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF5
#min_temp:
#max_temp:
gcode_id: C

[temperature_sensor Octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100